<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nwpu.group20.warehouse.mapper.InboundDetailsMapper">

    <resultMap id="InboundDetailsResultMap" type="nwpu.group20.warehouse.vo.InboundDetailsVo">
        <id property="inboundOrderId" column="inbound_order_id"/>
        <result property="inboundOrderDescription" column="inbound_order_description"/>
        <result property="managerId" column="manager_id"/>
        <result property="operatorId" column="operator_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isFinished" column="isfinished"/>
        <result property="productId" column="product_id"/>
        <result property="locationId" column="location_id"/>
        <result property="productionDate" column="production_date"/>
        <result property="inboundNumberTheoretical" column="inbound_number_theoretical"/>
        <result property="inboundNumberTrue" column="inbound_number_ture"/>
    </resultMap>

    <!-- Insert inbound details -->
    <insert id="insertInboundDetails" parameterType="nwpu.group20.warehouse.param.InboundDetailsParam">
        INSERT INTO inbound_details (inbound_order_id, product_id,  production_date, inbound_number_theoretical, inbound_number_ture)
        VALUES (#{inboundOrderId}, #{productId},  #{productionDate}, #{inboundNumberTheoretical}, #{inboundNumberTure})
    </insert>

    <!-- Delete inbound details by order ID -->
    <delete id="deleteInboundDetailsByOrderId" parameterType="int">
        DELETE FROM inbound_details WHERE inbound_order_id = #{inboundOrderId}
    </delete>



    <select id="selectInboundOrderById" resultMap="InboundDetailsResultMap">
        SELECT
            i.inbound_order_id,
            i.inbound_order_description,
            i.manager_id,
            i.operator_id,
            i.create_time,
            i.update_time,
            i.isfinished,
            d.product_id,
            d.location_id,
            d.production_date,
            d.inbound_number_theoretical,
            d.inbound_number_ture
        FROM
            inbound i
                JOIN
            inbound_details d ON i.inbound_order_id = d.inbound_order_id
        WHERE
            i.inbound_order_id = #{inboundOrderId}
    </select>
    <select id="selectInboundDetailsById" parameterType="map" resultMap="InboundDetailsResultMap">
        SELECT
            i.inbound_order_id,
            i.inbound_order_description,
            i.manager_id,
            i.operator_id,
            i.create_time,
            i.update_time,
            i.isfinished,
            d.product_id,
            d.location_id,
            d.production_date,
            d.inbound_number_theoretical,
            d.inbound_number_ture
        FROM
            inbound i
                JOIN
            inbound_details d ON i.inbound_order_id = d.inbound_order_id
        WHERE
            i.inbound_order_id = #{inboundOrderId} AND d.product_id = #{productId} AND d.production_date = #{productionDate}
    </select>


    <update id="updateInboundDetails" parameterType="nwpu.group20.warehouse.param.finalParam.InboundDetailsUpdateParam">
        UPDATE inbound_details
        SET location_id = #{locationId}, inbound_number_ture = #{inboundNumberTrue}
        WHERE inbound_order_id = #{inboundOrderId} AND product_id = #{productId} AND production_date = #{productionDate}
    </update>
</mapper>
